.App {
  text-align: center;
  background-image: url('images/sheep2.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inputForm {
  top: 50%;
  padding-top:180px;
}

.payPalInnerContainer {
  width: 200px;
  padding-top: 19px;
  margin: auto;
  align-items: center;
}

